@import 'https://fonts.googleapis.com/css?family=Kreon';

html {
    height: 100%;
}


body {
	background-color: #34495e;
	color: #bdc3c7;
	font-family: Kreon;
	height: 100%;
}

header {
		color: #ecf0f1;
		background-color: #3E4651;
		margin-left: -8px;
		margin-right: -8px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		padding-bottom: 3px;

}

header h1 {
		font-size: 50px;
}

a{
	text-decoration: none;
	color:#7f8c8d;
}

.portrait {
    background-color: #3E4651;
    padding: 10px;
    width: 250px;
    border: 8px solid #344146;
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.resume {
    background-color: #3E4651;
    padding: 1px;
    width: 100px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    margin: auto;
    text-align: center;
		transition: width 1s, color 2s;
		font-family: Raleway;
}

.resume:hover {
    background-color: #3E4651;
    padding: 1px;
    width: 245px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    margin: auto;
		color: white;
    text-align: center;
    transition: width 1s, color 2s;

}


.navbar {
    background-color: #3E4651;
    padding: 5px;
    position: fixed;
    border: 3px solid #344146;
		top: 10px;
		box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}
.navbar li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -39px;
		box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.container {
    display: block;
    vertical-align: top;
    text-align: center;
    margin: auto;
}

.portrait img {
	height: 250px;
}

section {
	color: #ecf0f1;
}

.linkedin {
    background-color: #0077B5;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
		transition: box-shadow .5s;
}

.linkedin:hover {
		background-color: #0077B5;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
		box-shadow: 0px 0px 8px white;
		transition: box-shadow .5s;
}

.soundcloud {
    background-color: #ff7700;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
		transition: box-shadow .5s;
}

.soundcloud:hover {
    background-color: #ff7700;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
		box-shadow: 0px 0px 8px white;
		transition: box-shadow .5s;
}

.facebook {
		background-color: #3b5998;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
		transition: box-shadow .5s;
}

.facebook:hover {
		background-color: #3b5998;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
		box-shadow: 0px 0px 8px white;
		transition: box-shadow .5s;
}

.twitter {
		background-color: #00aced;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
		transition: box-shadow .5s;
}

.twitter:hover {
		background-color: #00aced;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
		box-shadow: 0px 0px 8px white;
		transition: box-shadow .5s;
}

.fa.fa-linkedin{
	color: #FFFFFF;
	font-size: 50px;
}

.fa.fa-soundcloud{
	color: #FFFFFF;
	font-size: 35px;
}

.fa.fa-facebook{
	color: #FFFFFF;
	font-size: 50px;
}

.fa.fa-twitter{
	color: #FFFFFF;
	font-size: 50px;
}
