@import 'https://fonts.googleapis.com/css?family=Kreon';

html {
    height: 100%;
}


body {
	background-color: #34495e;
	color: #bdc3c7;
	font-family: Kreon;
	height: 100%;
}

header {
		color: #ecf0f1;

}

header h1 {
		font-size: 50px;
}

.navbar {
    background-color: #3E4651;
    padding: 20px;
    position: fixed;
    border: 3px solid #344146;
}

.navbar li {
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: -33px;
}

.container {
	display:inline-block;
	vertical-align: top;
	margin-left: 110px;
	width: calc(100% - 191px);
	text-align:center;


}

img {
	height: 60px;
	border-radius: 10px;
	margin-left: -8px;
}

section {
	color: #ecf0f1;
}

.linkedin {
    background-color: #0077B5;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
}

.soundcloud {
    background-color: #ff7700;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
}

.facebook {
		background-color: #3b5998;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
}

.twitter {
		background-color: #00aced;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		line-height: 1px;
		text-align: center;
}

.fa.fa-linkedin{
	color: #FFFFFF;
	font-size: 50px;
}

.fa.fa-soundcloud{
	color: #FFFFFF;
	font-size: 35px;
}

.fa.fa-facebook{
	color: #FFFFFF;
	font-size: 50px;
}

.fa.fa-twitter{
	color: #FFFFFF;
	font-size: 50px;
}
