@import url("../simple-line-icons/csssl/simple-line-icons.css");

/*Font Customizations*/

#G {
		font-family: Lato, sans-serif;
		font-weight: 100;
		color: #c0392b;
		font-size: 90px;
}

.love {
		font-weight: bold;
		font-size: 18px;
		color: #e74c3c;

}

#ustav {
		font-family: Lato, sans-serif;
		font-weight: 100;
		color: #34495e;
		font-size: 90px;
}

#T {
		font-family: Lato, sans-serif;
		font-weight: 100;
		color: #c0392b;
		font-size: 60px;
}

#itle {
		font-family: Lato, sans-serif;
		font-weight: 100;
		color: #34495e;
		font-size: 60px;
}

#itlee {
		font-family: Lato, sans-serif;
		font-weight: 100;
		color: #ecf0f1;
		font-size: 60px;
}

.black {
		font-weight: bold;
		color: #000000;
}

.blue {
		font-weight: bold;
		color: #2980b9;
}

.red {
		font-weight: bold;
		color: #e74c3c;
}

.purple {
		font-weight: bold;
		color: #9b59b6;
}

.green {
		font-weight: bold;
		color: #2ecc71;
}

.yellow {
		font-weight: bold;
		color: #f1c40f;
}

.orange {
		font-weight: bold;
		color: #e67e22;
}

.turquoise {
		font-weight: bold;
		color: #1abc9c;
}

.krish {
		font-weight: bold;
		color: #27ae60;
		transition: color .3s;
}

.krish:hover {
		font-weight: bold;
		color: #f39c12;
		transition: color .3s;
}

.twit {
		font-weight: bold;
		color: #27ae60;
		transition: color .3s;
}

.twit:hover {
		font-weight: bold;
		color: #f1c40f;
		transition: color .3s;
}

.face {
		font-weight: bold;
		color: #9b59b6;
		transition: color .3s;
}

.face:hover {
		font-weight: bold;
		color: #e74c3c;
		transition: color .3s;
}

.link {
		font-weight: bold;
		color: #2980b9;
		transition: color .3s;
}

.link:hover {
		font-weight: bold;
		color: #f39c12;
		transition: color .3s;
}



html {
		background-color: #ecf0f1;
		height:100%;
}

footer {
    display: block;
    background-color: #2c3e50;
    box-shadow: 0px 0px 40px rgba(0,0,0,1);
    width: 100%;
    text-align: center;
    height: 10%;
    padding: 30px 0 33px 0;
    line-height: 30px;
}


/*NAVBARS*/

#aboutbutton {
		opacity: 1;
		transition: opacity.3s;
}

#aboutbutton:hover {
		opacity: .5;
		transition: opacity .3s;
}

#projbutton {
		opacity: 1;
		transition: opacity .3s;
}
#projbutton:hover {
		opacity: .5;
		transition: opacity .3s;
}

#hackbutton {
		opacity: 1;
		transition: opacity.3s;
}

#hackbutton:hover {
		opacity: .5;
		transition: opacity .3s;
}

#contbutton {
		opacity: 1;
		transition: opacity .3s;
}

#contbutton:hover {
		opacity: .5;
		transition: opacity .3s;
}

#particles-js {
  	z-index: -1;
  	position: fixed;
  	width: 100%;
  	height: 100%;
}

/*SLICK*/

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

.slick-prev {
    left: 12% !important;
		z-index: 999 !important;
}

.slick-next {
    right: 15% !important;
		z-index: 999 !important;
}

.contact {
    width: 525px;
    line-height: 78px;
    font-size: 30px;
    height: 300px;
    display: block;
    text-align: center;
    margin: -3px auto 130px;
}

.projectz {
    width: 100%;
    margin-top: 180px;
    /* margin-bottom: 10px !important; */
    display: block !important;
    position: relative !important;
    background-color: #2c3e50;
    box-shadow: 0px 0px 41px rgba(0,0,0,1);
}

.hackathons {
    width: 100%;
    display: block !important;
    position: relative !important;
    background-color: #2c3e50;
    box-shadow: 0px 10px 82px rgba(0,0,0,1);
}

body {
    color: #FFFFFF;
    font-family: Raleway;
    height: 100%;
    width: 100%;
    margin: auto;
}

#header {
		color: #FFFFFF;
		background-color: transparent;
		padding-bottom: 4px;
		width: 100%;
		height: 100%;
		margin: auto;
		display:block;
}

.slick-prev:before {
    content: "\e605" !important;
    font-family: 'simple-line-icons' !important;
    font-size: 60px !important;
}
.slick-next:before {
    content: "\e606" !important;
    font-family: 'simple-line-icons' !important;
    font-size: 60px !important;
}

#flats {
    top: 0;
    width: 100%;
    background-position-y: 29%;
    height: 70%;
    background-size: cover;
}

#school {
    top: 0;
    margin-top: -71px;
    width: 100%;
		display: absolute;
    margin-bottom: -1px;
    height: 70% !important;
    background-size: cover;
}

#Textbody {
    display: block;
    width: 40%;
    margin: 15px auto 120px auto;
    padding: 0px 20px 0px 20px;
    font-family: Raleway;
    font-size: 20px;
    color: #34495e;
}

.center {
		text-align: center;
}

#Name {
    margin: -25px auto 10px;
    display: block;
    width: 440px;
}

#projects {
    margin: 0px auto -174px;
    display: block;
		padding-top: 100px;
    width: 440px;
}

#contacts {
    margin: 100px auto 0px;
    display: block;
    width: 440px;
}

#hackathons {
    margin: -73px auto 0px;
    display: block;
    width: 440px;
		background-color: #2c3e50;
}

a {
		text-decoration: none;
}

#portrait {
    background-image: url(../me.png);
    background-size: 104%;
    height: 250px;
    background-position-x: -6px;
    border-radius: 50%;
    width: 250px;
    border: 4px solid #ecf0f1;
    margin: -120px auto 10px;
}


section p {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
    padding-bottom: 40px !important;
}



/**PROJECTS**/

.parallax-window {
    min-height: 400px;
    background: transparent;
}


#Project1{
		display:inline-block;
		padding-bottom: 13px;
}

#Project2{
		display:inline-block;
		padding-bottom: 13px;
}

#Project3{
		display:inline-block;
		padding-bottom: 13px;
}

#Project4{
		display:inline-block;
		padding-bottom: 13px;
}



#TBD{
		display:inline-block;
		padding-bottom: 13px;
}

.hax{
		display:inline-block;
		padding-bottom: 13px;
}

.hackz {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 30px;
  /*  border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.Project1 {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 30px;
  /*  border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.Project2 {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 30px;
    /*border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.Project3 {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 25px;
    /*border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.Project4 {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 25px;
    /*border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.TBD {
    background-color: rgba(52,61,70, .4);
    padding: 10px;
    width: 375px;
		height: 375px;
		font-size: 30px;
    /*border: 8px solid #ecf0f1;*/
    display: block;
    margin: auto;
		padding-bottom: 5px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		position: relative;
}

.PImg {
		height: 96%;
		text-align: center;
		margin: 7px 0px 2px 10px;
		display: inherit;
		transition: opacity 1s;
		position: absolute;
		top: 0;
		left: 0;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 44px auto !important;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
		font-size: 15px !important;
		color: rgba(255,255,255,1) !important;
}

.PImg:hover {
		height: 96%;
		text-align: center;
		margin: 7px 0px 2px 10px;
		opacity: .2;
		display: inherit;
		transition: opacity 1s;
		position: absolute;
		top: 0;
		left: 0;
}

.PHeader {
    color: #FFFFFF;
		font-size: 30px;
		font-family: Lato;
		font-weight: 100;
		opacity: 1;
    margin: -18px auto;
    transition: opacity .3s;
    display: block;
}

.PHeader:hover {
		opacity: .5;
		transition: opacity .3s;

}


.resume {
		font-weight: bold;
		color: #1abc9c;
		transition: color .3s;
		text-align: center;
}

.resume:hover {
		font-weight: bold;
		color: #f39c12;
		transition: color .3s;
}

#copyright {
    margin-bottom: 18px;
    margin-top: -4px;
    display: block;
}

#detailbutton {
		background-image: url(../gifdoee.gif);
		z-index: 6;
		height: 150px;
		top: -47px;
		border: 4px solid #ecf0f1;
		right: -6px;
		position: fixed;
		width: 150px;
		margin-left: 200px;
		transform: rotate(45deg);
		box-shadow: 0px 0px 41px rgba(0,0,0,1);
}

#detailtext {
	/* right: 10px; */
		transform: rotate(315deg);
		position: absolute;
		bottom: 24px;
		right: 22px;
/* top: 12px; */
}

.navbar {
    position: fixed;
    top: 14px;
    width: 100%;
    z-index: 6;
    padding-top: 1px;
    margin: -18px auto -32px;
    box-shadow: 0px 0px 45px rgba(0,0,0,.5);
    background-color: rgba(52,61,70, .7);
}

.navbar li {
		list-style-type: none;
		display: inline-block;
		margin-left: 10px;
		margin-bottom: -11px;
}

#about {
		bottom: 11px;
	  position: relative;
		margin-left:5%;
}

#cont {
		bottom: 11px;
    position: relative;
		margin-left:5%
}

#proj {
		bottom: 11px;
    position: relative;
		margin-left:5%;
}

#hack {
		bottom: 11px;
		position: relative;
		margin-left:5%;
}

.container {
		display: block;
		vertical-align: top;
		text-align: center;
		margin: auto;
		width: 100%;
		height: 100%;
}

section {
		color: #FFFFFF;
		font-family: Open Sans;
		background-color: rgba(52,61,70, .4);
		/* border: 8px solid #ecf0f1; */
		/* margin-left: 30%; */
		/* margin-right: 30%; */
		margin-top: 22px;
		margin-bottom: 28px;
		box-shadow: 0px 4px 28px rgba(0,0,0,.4);
		padding-bottom: 4px;
		/* padding: 5px; */
		width: 100%;
}

.madeby {
    background-color: rgba(52,61,70, .4);
    width: 207px;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
    /*border: 6px solid #ecf0f1;*/
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    display: block;
}

.logos {
    background-color: rgba(52,61,70, .4);
		color: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    line-height: 1px;
    text-align: center;
		box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}

.project {
		vertical-align: bottom;
}

.icon-arrow-left {
		opacity: 1;
		transition: opacity .5s;
}

.icon-arrow-left:hover {
		opacity: .5;
		transition: opacity .5s;
}

.icon-arrow-right {
		opacity: 1;
		transition: opacity .5s;
}

.icon-arrow-right:hover {
		opacity: .5;
		transition: opacity .5s;
}

.icon-social-twitter {
		opacity: 1;
		transition: opacity .5s;
}


.icon-social-twitter:hover {
		opacity: .5;
		transition: opacity .3s;
}

.icon-social-facebook {
		opacity: 1;
		transition: opacity .5s;
}

.icon-social-facebook:hover {
		opacity: .5;
		transition: opacity .3s;
}

.icon-social-linkedin {
		opacity: 1;
		transition: opacity .5s;
}

.icon-social-linkedin:hover {
		opacity: .5;
		transition: opacity .3s;
}

.icon-social-soundcloud {
		opacity: 1;
		transition: opacity .5s;
}

.icon-social-soundcloud:hover {
		opacity: .5;
		transition: opacity .3s;
}

.icon-social-github {
		opacity: 1;
		transition: opacity .5s;
}

.icon-social-github:hover {
		opacity: .5;
		transition: opacity .3s;
}

.icon-link {
    font-size: 23px;
    color: white;
    opacity: .5;
}

/*SMALLER SCREENS*/

@media (max-width: 1330px) {
	#detailbutton {
			display: none;
	}
}

@media (max-width: 1090px) {
	#Textbody {
    width: 60%;
	}
	.navbar ul {
			margin-left: -39px;
	}
	.navbar li {
    	margin-left: 12%;
	}
	#about {
			display: none;
	}
	#aboutbutton {
			display: none;
	}
	#cont {
			display: none;
	}
	#contbutton {
			display: none;
	}
	#proj {
			display: none;
	}
	#projbutton {
			display: none;
	}
	#hack {
			display: none;
	}
	#hackbutton {
			display: none;
	}
}

@media (max-width: 966px){
	.slick-prev:before {
	    display: none;
	}
	.slick-next:before {
	    display: none;
	}
}

@media (max-width: 668px){
	.navbar li {
    	margin-left: 9%;
	}
	#Textbody {
    width: 70%;
	}
	#hackathons {
    width: 100%;
	}
}

@media (max-width: 563px){
	.hackz {
    width: 250px;
    height: 250px;
    font-size: 18px;
	}
	.twit{
		font-size: 30px;
	}
	.link {
		font-size: 30px;
	}
	.face {
		font-size: 30px;
	}
	.Project1 {
    width: 250px;
    height: 250px;
    font-size: 18px;
	}
	.Project2 {
    width: 250px;
    height: 250px;
    font-size: 18px;
	}
	.Project3 {
    width: 250px;
    height: 250px;
    font-size: 18px;
	}
	.Project4 {
    width: 250px;
    height: 250px;
    font-size: 18px;
	}
	footer {
	    padding: 30px 0 64px 0;
	}
}

@media (max-width: 532px){
	#Textbody {
		margin: 50px auto 149px auto;
	}
	.contact {
    width: 100%;
    font-size: 18px;
	}
}

@media (max-width: 486px){
	#Textbody {
		margin: 80px auto 149px auto;
	}
	#T {
    font-size: 45px;
	}
	#itle {
    font-size: 45px;
	}
	#itlee {
    font-size: 45px;
	}
	#contacts {
    margin: 100px auto 0px;
    display: block;
    text-align: center;
		width: 100%;
	}
	.PHeader {
    text-align: center;
	}
	#projects {
    text-align: center;
		width: 100%;
	}
	.navbar li {
    	margin-left: 6%;
	}
	#Name {
    text-align: center;
		width: 100%;
	}
}

@media (max-width: 382px){
	.contact {
    width: 100%;
    line-height: 78px;
    font-size: 18px;
    height: 300px;
    display: block;
    text-align: center;
    margin: -3px auto 130px;
}
	.navbar li {
    	margin-left: 4%;
	}
	#Textbody {
    width: 90%;
	}
}

@media (max-width: 320px){
	.contact {
    width: 100%;
    font-size: 18px;
	}
	.navbar li {
    	margin-left: 3%;
	}
}
