
html, body, #root, .App {
  max-width: 100%;
  overflow-x: hidden;
  background-color:black;
}

a, a:visited {
  color: #FFFFFF;
	text-decoration: none;
  transition: color .2s;
}

a:hover {
  transition: color .2s;
  color: #c55;
}


.App {
  text-align: center;
}

.App-Diamond {
  height:600px;
  width:600px;
  position:fixed;
  top:0px;
  left:0px;
  background-image: url(website-draw/site-chained-diamond.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Skateboard {
  z-index:1;
  height:1500px;
  width:500px;
  top:0px;
  right:0px;
  position:absolute;
  background-image: url(website-draw/site-hanging-skate.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom:50px;
}

.App-BigBox {
  z-index:0;
  margin: auto;
  margin-top:150px;
  text-align: center;
  height:500px;
  display:block;
  width:500px;
  background-image: url(website-draw/site-bigbox_info.png);
  background-size: cover;
}

.App-Creature {
  position:absolute;
  bottom:-1250px;
  height:425px;
  width:425px;
  background-image: url(website-draw/site-creature.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Project {
  z-index:99;
  margin: auto;
  z-index:100;
  text-align: center;
  height: 200px;
  display: block;
  width: 500px;
  background-image: url(/static/media/site-projectbox.d47f1380.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.App-Footer {
  height:10px;
  width:100%;
  display:block;
}

